BOT_TOKEN=8228167242:AAF15X1MAzzG4GQ2Hb3Vg9RaCg4XiK-XSA0
BOT_USERNAME=fixedredbot
OWNER_IDS=8062935882
API_ID=39113132
API_HASH=4131586e1bbef992beb4b563aa8681ed
SESSION_STRING=1BQANOTEuMTA4LjU2LjE0NgG7nz5lRBtfYTrZHTFR9YKrRt2hswNBF0pOKx974v+mdayhOH7QF8oKwS3MeVBBVSQem858BU72gYlEp04KIl/QIB4t8PAB1HpDvyuAAwe5WngKIHfnomkCqge+kAkhNNf0ruHh0DxkCsr9e3CCs9+t0TblqLjORF4PFJ16Gp0ukQOkDo2qPEnQnMAC5oNfpSYmP4Ecq8g9BgjG41Diconp520eaiGu8U09K7CtJUoKTKi2csgoIeneskp60NkJ2T9vpYrQ/LJttvv4LdR6126eU4XCe6OU8imG/TUxjPAHPP7lWeitdK6DLzUAbf6Cn3zXc57Gr3Vd+oiuqL2bGNp/pg==
TARGET_BOT=cphxfixmerahBot
UPSTASH_REDIS_REST_URL=https://accurate-dodo-198263.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAwZ3AAIgcDJmNzE3MGE1OWM1NjY0ODgwYTc4NWYzMjI5NzExNWYxOQ
DANA_NUMBER=083124469855
DANA_NAME=WALZY STORE
PUBLIC_URL=https://fixred-premium.vercel.app